<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Birthday Reminder</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="p-1">
        <nav class="navbar navbar-nav navbar-dark bg-dark text-light p-1">
            <a class="navbar-brand" href="{% url 'index' %}">Birthday Manager</a>
        </nav>
        {% block body %}
        {% endblock body %}
    </body>
</html>