{% extends 'list_birthdays/layout.html' %}
{% block body %}
{% load static %}

<!--Displaying List of all birthdays Birthdays-->
<div class="mx-auto mt-3" style="width: 75%;">
    <h2 class="text-center"> All Birthdays</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Age</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for birthday in Birthdays %}
            <tr>
                <td>{{ birthday.id }}</td>
                <td>{{ birthday.name }}</td>
                <td>{{ birthday.dob }}</td>
                <td>{{ birthday.age }}</td>
                <td>
                    <!--Delete Record by id-->
                    <a href="{% url 'delete_birthday' birthday.id%}" type="submit">
                        <img src="{% static 'list_birthdays/images/delete-icon.svg' %}" alt="delete" height="15px"
                            style="margin-left: 20%;">
                    </a>
                </td>
                <td>
                    <!--Edit Record by id-->
                    <a href="{% url 'edit_birthday' birthday.id%}" type="submit">
                        <img src="{% static 'list_birthdays/images/edit-icon.svg' %}" alt="edit" height="15px"
                            style="margin-left: 20%;">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--End of Displaying All Birthdays-->

{% endblock body %}